html body {
    padding-top: 10em;
}

h4{
    text-align: center;
    padding-bottom: 1em;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.receipt{
    overflow: hidden;
    visibility: hidden;
    height: 0;
    width: 0;
}


